@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
}

body{
  background-color: #f5f6fa !important;
}

.button-bg {
  background-image: linear-gradient(-22deg, #eb088d, #a911c6, #7717f3, #640df9);
  transition: all 300ms linear;
}
.button-bg:hover {
  background-image: linear-gradient(45deg, #eb088d, #a911c6, #7717f3, #640df9);
}